@font-face{
    font-family: "LifeCraft";
    src : url("../../assets/LifeCraft_Font.ttf")
}

.typo{
    font-family: "LifeCraft";
    font-size: 530%;
    color: goldenrod;
    text-shadow: black 1px 1px, black -1px 1px, black -1px -1px, black 1px -1px;
}

.score{
    text-align: center;
    margin-top: 38px;
    margin-bottom: 10px;
}

.card-img-top{
    width: 100%;
    height: 20vh;
    object-fit: cover;
    border-bottom: solid black 3px;
}
.card-body{
  height: 20vh;
  max-height: 20vh;
}

.icone{
    height: 15px;
    width: 15px;
}

.feu{
    height: 17px;
    width: 17px;
    margin-bottom: 3%;
}

.board{
    height: 180px;
}

.top{
    height: 90px;
}

.card{
    background-color: #F0D1CB;
    border: solid black 3px;
}

.dark{
    opacity: 50%;
}

.card:nth-child(2){
    margin: 0 50px;
}

.card:hover{
    top: -15px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.up{
    margin-bottom: 2%;
}

button{
    font-family: "LifeCraft";
    font-size: 200%;
    border: solid black 1px;
    background-color: #02BB24;
    color: white;
    border-radius: 28%;
}

.easter{
    height: 250px;
    width: 160px;
    margin-left: 130px;
    margin-top: 300px;
    transform: rotate(20deg);
}

.win {
  color: green;
}

.lose {
  color: red;
}
