<div class="container">
  <!-- Player Ordi -->
  <div class="row top">
    <div class="col-1 offset-11">
      <a href="https://www.youtube.com/watch?v=yPYZpwSpKmA">
      <img class="easter" src="assets/hs.png">
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <div style="text-align:center">
        <div class="card dark" id="card1">
          <img class="card-img-top" [src]="deck2[0].image">
          <div class="card-body">
            <h5 class="card-title">{{deck2[0].name}}</h5>
            <p class="card-text">{{deck2[0].origin}}</p>
            <p><img class="icone up" src="assets/épée.png"> {{deck2[0].skills[0]}}
              <img class="icone feu" src="assets/fire.png"> {{deck2[0].skills[1]}}
              <img class="icone up" src="assets/coeur.png"> {{deck2[0].skills[2]}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div style="text-align:center">
        <div class="card dark" id="card2">
          <img class="card-img-top" [src]="deck2[1].image">
          <div class="card-body">
            <h5 class="card-title">{{deck2[1].name}}</h5>
            <p class="card-text">{{deck2[1].origin}}</p>
            <p><img class="icone up" src="assets/épée.png"> {{deck2[1].skills[0]}}
              <img class="icone feu" src="assets/fire.png"> {{deck2[1].skills[1]}}
              <img class="icone up" src="assets/coeur.png"> {{deck2[1].skills[2]}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div style="text-align:center">
        <div class="card dark" id="card3">
          <img class="card-img-top" [src]="deck2[2].image">
          <div class="card-body">
            <h5 class="card-title">{{deck2[2].name}}</h5>
            <p class="card-text">{{deck2[2].origin}}</p>
            <p><img class="icone up" src="assets/épée.png"> {{deck2[2].skills[0]}}
              <img class="icone feu" src="assets/fire.png"> {{deck2[2].skills[1]}}
              <img class="icone up" src="assets/coeur.png"> {{deck2[2].skills[2]}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div style="text-align:center">
        <div class="card dark" id="card4">
          <img class="card-img-top" [src]="deck2[3].image">
          <div class="card-body">
            <h5 class="card-title">{{deck2[3].name}}</h5>
            <p class="card-text">{{deck2[3].origin}}</p>
            <p><img class="icone up" src="assets/épée.png"> {{deck2[3].skills[0]}}
              <img class="icone feu" src="assets/fire.png"> {{deck2[3].skills[1]}}
              <img class="icone up" src="assets/coeur.png"> {{deck2[3].skills[2]}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div style="text-align:center">
        <div class="card dark" id="card5">
          <img class="card-img-top" [src]="deck2[4].image">
          <div class="card-body">
            <h5 class="card-title">{{deck2[4].name}}</h5>
            <p class="card-text">{{deck2[4].origin}}</p>
            <p><img class="icone up" src="assets/épée.png"> {{deck2[4].skills[0]}}
              <img class="icone feu" src="assets/fire.png"> {{deck2[4].skills[1]}}
              <img class="icone up" src="assets/coeur.png"> {{deck2[4].skills[2]}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div style="text-align:center">
        <div class="card dark" id="card6">
          <img class="card-img-top" [src]="deck2[5].image">
          <div class="card-body">
            <h5 class="card-title">{{deck2[5].name}}</h5>
            <p class="card-text">{{deck2[5].origin}}</p>
            <p><img class="icone up" src="assets/épée.png"> {{deck2[5].skills[0]}}
              <img class="icone feu" src="assets/fire.png"> {{deck2[5].skills[1]}}
              <img class="icone up" src="assets/coeur.png"> {{deck2[5].skills[2]}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Espace Vide / Zone de combat -->

  <div class="row board">
    <div class="col-12">
      <div class="score">
        <p class="typo"> Player {{scorePlayer1}} - {{scoreComputer}} IA </p>
      </div>
    </div>
  </div>

  <!-- Player 1-->
  <div class="row">
    <div class="col-2">
      <div style="text-align:center">
        <div class="card" id="card7">
          <img class="card-img-top" [src]="deck1[0].image">
          <div class="card-body">
            <h5 class="card-title">{{deck1[0].name}}</h5>
            <p class="card-text">{{deck1[0].origin}}</p>
            <p><img class="icone up" src="assets/épée.png"> {{deck1[0].skills[0]}}
              <img class="icone feu" src="assets/fire.png"> {{deck1[0].skills[1]}}
              <img class="icone up" src="assets/coeur.png"> {{deck1[0].skills[2]}}</p>
          </div>
        </div>
        <button (click)="bouton1()">Play this card !</button>
      </div>
    </div>
    <div class="col-2">
      <div style="text-align:center">
        <div class="card" id="card8">
          <img class="card-img-top" [src]="deck1[1].image">
          <div class="card-body">
            <h5 class="card-title">{{deck1[1].name}}</h5>
            <p class="card-text">{{deck1[1].origin}}</p>
            <p><img class="icone up" src="assets/épée.png"> {{deck1[1].skills[0]}}
              <img class="icone feu" src="assets/fire.png"> {{deck1[1].skills[1]}}
              <img class="icone up" src="assets/coeur.png"> {{deck1[1].skills[2]}}</p>
          </div>
        </div>
        <button (click)="bouton2()">Play this card !</button>
      </div>
    </div>
    <div class="col-2">
      <div style="text-align:center">
        <div class="card" id="card9">
          <img class="card-img-top" [src]="deck1[2].image">
          <div class="card-body">
            <h5 class="card-title">{{deck1[2].name}}</h5>
            <p class="card-text">{{deck1[2].origin}}</p>
            <p><img class="icone up" src="assets/épée.png"> {{deck1[2].skills[0]}}
              <img class="icone feu" src="assets/fire.png"> {{deck1[2].skills[1]}}
              <img class="icone up" src="assets/coeur.png"> {{deck1[2].skills[2]}}</p>
          </div>
        </div>
        <button (click)="bouton3()">Play this card !</button>
      </div>
    </div>
    <div class="col-2">
      <div style="text-align:center">
        <div class="card" id="card10">
          <img class="card-img-top" [src]="deck1[3].image">
          <div class="card-body">
            <h5 class="card-title">{{deck1[3].name}}</h5>
            <p class="card-text">{{deck1[3].origin}}</p>
            <p><img class="icone up" src="assets/épée.png"> {{deck1[3].skills[0]}}
              <img class="icone feu" src="assets/fire.png"> {{deck1[3].skills[1]}}
              <img class="icone up" src="assets/coeur.png"> {{deck1[3].skills[2]}}</p>
          </div>
        </div>
        <button (click)="bouton4()">Play this card !</button>
      </div>
    </div>
    <div class="col-2">
      <div style="text-align:center">
        <div class="card" id="card11">
          <img class="card-img-top" [src]="deck1[4].image">
          <div class="card-body">
            <h5 class="card-title">{{deck1[4].name}}</h5>
            <p class="card-text">{{deck1[4].origin}}</p>
            <p><img class="icone up" src="assets/épée.png"> {{deck1[4].skills[0]}}
              <img class="icone feu" src="assets/fire.png"> {{deck1[4].skills[1]}}
              <img class="icone up" src="assets/coeur.png"> {{deck1[4].skills[2]}}</p>
          </div>
        </div>
        <button (click)="bouton5()">Play this card !</button>
      </div>
    </div>
    <div class="col-2">
      <div style="text-align:center">
        <div class="card" id="card12">
          <img class="card-img-top" [src]="deck1[5].image">
          <div class="card-body">
            <h5 class="card-title">{{deck1[5].name}}</h5>
            <p class="card-text">{{deck1[5].origin}}</p>
            <p><img class="icone up" src="assets/épée.png"> {{deck1[5].skills[0]}}
              <img class="icone feu" src="assets/fire.png"> {{deck1[5].skills[1]}}
              <img class="icone up" src="assets/coeur.png"> {{deck1[5].skills[2]}}</p>
          </div>
        </div>
        <button (click)="bouton6()">Play this card !</button>
      </div>
    </div>
  </div>
</div>
